<?xml version="1.0"?>
<config>
    <modules>
        <Bitbull_SimpleOrder>
            <version>0.1.0</version>
        </Bitbull_SimpleOrder>
    </modules>
    <global>
        <blocks>
            <bitbull_simpleorder>
                <class>Bitbull_SimpleOrder_Block</class>
            </bitbull_simpleorder>
            <customer>
                <rewrite>
                    <account_navigation>Bitbull_SimpleOrder_Block_Customer_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
            <page>
                <rewrite>
                    <html_head>Bitbull_SimpleOrder_Block_Page_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <bitbull_simpleorder>
                <class>Bitbull_SimpleOrder_Helper</class>
            </bitbull_simpleorder>
        </helpers>
        <models>
            <bitbull_simpleorder>
                <class>Bitbull_SimpleOrder_Model</class>
            </bitbull_simpleorder>
        </models>
        <events>
            <controller_action_postdispatch>
                <observers>
                    <bitbull_simpleorder>
                        <type>singleton</type>
                        <class>bitbull_simpleorder/observer</class>
                        <method>checkForLayoutDisplayRequest</method>
                    </bitbull_simpleorder>
                </observers>
            </controller_action_postdispatch>
        </events>
    </global>
</config>
